@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400&display=swap');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #141414;
  color: white;
  font-weight: 300;
  font-family: 'Jost', sans-serif;
}